{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "parser_site/style.css" %}">
    <link rel="stylesheet" href="{% static "parser_site/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "parser_site/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "parser_site/bootstrap-theme.css" %}">

    <title>{% block title %}My amazing site{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
<body>

<img src="{% static "parser_site/images/w3schoolscom_gray.gif" %}" alt="header_image">

{% block header %}
{% endblock %}


<div class="container-fluid text-center">
    <div class="row content">
        {% block sidebar %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>